/**
 * component card hover
 *
 */

.c-hover:hover {
  background: rgb(255, 246, 246);
}

/**
 * skeleton shimmering
 *
 */

.c-skeleton {
  z-index: 1;
  display: block;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-color: $shimmer-background;
}

.c-skeleton::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  transform: translateX(-100%);
  background-size: 99% 100%;
  background-image: linear-gradient(89deg, rgb(239, 239, 239), rgb(224, 224, 224));
  animation: 1.3s linear 1ms infinite normal backwards running shimmer;
  content: '';
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/**
 * shadow component
 *
 */

.c-shadow {
  box-shadow: 0 1px 4px 0 rgba(26,20,33,.15);
}
